{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/main.css" /> -->

    {% if page == 'wordle-game' %}
    <link rel="stylesheet" href="{% static 'wordle/css/board.css' %}" />
    <link rel="stylesheet" href="{% static 'wordle/css/keyboard.css' %}" />
    <link rel="stylesheet" href="{% static 'wordle/css/snackbar.css' %}" />
    <link rel="stylesheet" href="{% static 'wordle/css/menu.css' %}" />
    {% elif page == 'wordle-about'%}
    <link rel="stylesheet" href="{% static 'wordle/about.css' %}" />
    {% endif %}

    <link rel="stylesheet" href="{% static 'wordle/navbar.css' %}" />

    <title>Weirdle</title>
  </head>
  <body>
    <header>
      <div id="navbar" style="z-index: 10">
        <a href="{% url 'wordle-home' %}">Home</a>
        <a href="{% url 'wordle-about' %}">About</a>
        <!-- <a href=""></a> -->
        <button
          onclick="window.location.href='https://www.nytimes.com/games/wordle/index.html';"
          class="btn"
          style="z-index: 12"
        >
          Original
        </button>
      </div>
    </header>
    {% block content %} {% endblock %}

    <script src="{% static 'wordle/js/snackbar.js' %}"></script>
    <script src="{% static 'wordle/js/menu.js' %}"></script>
    <script src="{% static 'wordle/js/keyboard.js' %}"></script>
    <script src="{% static 'wordle/js/secretWords.js' %}"></script>
  </body>
</html>
